
@{
    ViewData["Title"] = "List";
}

<h1>Liste over gæster, som har spist morgenmad</h1>


<p><b>Her finder du en oversigt over gæster, som har værert til morgenmad</b></p>  <br/> <br/>
<table style="width:100%">
    <tr>
        <th><b>Værelsesnummer</b></th>
        <th><b>Antal voksne</b></th>
        <th><b>Antal børn</b></th>
    </tr>
    <tr>
        <td>12</td>
        <td>2</td>
        <td>1</td>
    </tr>
    <tr>
        <td>11</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
    </tr>
</table>


