
@{
    ViewData["Title"] = "Reception";
}

<h1>Reception</h1>

<form action="/action_page.php">
    <label for="givenDate">Vis information for denne dato:</label>
    <input type="date" id="givenDate" name="givenDate">
    <input type="submit" value="Vis information">
</form>



