
@{
    ViewData["Title"] = "Restaurant";
}

<h1>Restaurant</h1>

<body>
<div class="text-center">

    <figure>
        <img src="/Images/danglePic.jpg" alt="D'angleterre Logo" style="width:350px;height:150px;">
    </figure>

    <h1 class="display-4">Velkommen til hotel D'angleterre's <br /> personale side</h1>
    <p>Her kan du finde information omkring bestilling af morgenmad blandt hotellets gæster og besøgende. <br /> I menuen for oven, kan du vælge hvilken afdeling du ønsker at tilgå </p>

</div>
</body>
